@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@layer base {
    html {
        font-family: Poppins, system-ui, sans-serif;
        background: linear-gradient(to top, #d4e3e7, #ebf0f3);
    }
}
/* 
html {
    background: linear-gradient(to top, #d4e3e7, #ebf0f3);
} */

@layer components {
    .card {
        width: 100%;
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
    }
}

